<!-- Page Wrapper -->
<div class="wrapper">
  <%- include('./dashboard/sidebar.ejs'); %>

    <div class="Container">
      <!-- topbar starts -->
      <%- include('./dashboard/topbar.ejs'); %>
        <!-- topbar ends -->

        <!-- PAge Content starts -->
        <div class="Content">
          <form method="POST" class="profile_form" action="/update">
            <div class="Proflie_head">
              <div class="profile_title">
                <p>Profile Page</p>
              </div>
              <div class="profile_cover">
                <img src="cube.png" />
              </div>
              <div class="profile_data">
                <div class="profile_picture">
                  <img width="140px" src="1.png" />
                  <img class="editPImage" width="22" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/edit--v1.png"
                  alt="edit--v1" />
                </div>
                <div class="profile_data_box">
                  <h5><span><%- user.firstname %> <%- user.lastname %></span></h5>
                  <!-- <h6>Full Stack Developer</h6> -->
                  <!-- <div class="profile_data_back"></div> -->
                </div>
                <div class="profile_data_box">
                  <p><%- user.email %></p>
                  <div class="profile_data_back"></div>
                  <h6>Email ID</h6>
                </div>
                <div class="profile_data_box">
                  <p>(+91) <%- user.phone %></p>
                  <h6>Phone No</h6>
                  <div class="profile_data_back"></div>
                </div>
              </div>
            </div>

            <div class="Proflie_head">
              <div class="profile_title">
                <p>Personal Detail</p>
              </div>
              <div class="data_para">
                <!-- fisrt Name -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>First Name</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">
                    <p><%- user.firstname %></p>
                  </div>
                  <input class="Dnone" type="text" name="id" value="<%- user.id %>" />
                  <input class="profile_edit_form" type="text" name="firstname" placeholder="new first name .."
                    value="<%- user.firstname %>" />
                </div>
                <!-- Last Name -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>Last Name</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">
                    <p><%- user.lastname %></p>
                  </div>
                  <input class="profile_edit_form" type="text" name="lastname" placeholder="new last name .."
                    value="<%- user.lastname %>" />
                </div>
                <!-- Email -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>Email</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">

                    <p><%- user.email %></p>
                  </div>
                  <input class="profile_edit_form" type="text" name="email" placeholder="new email .."
                    value="<%- user.email %>" />
                </div>
                <!-- Phone -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>Phone</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">
                    <% if(user.phone){ %>
                      <p>
                        <%- user.phone; %>
                      </p>
                      <% }else { %>
                        <p>
                          -----
                        </p>
                        <% } %>
                      </div>
                        <input class="profile_edit_form" type="text" name="phone" placeholder="new phone .."
                          value="<%- user.phone %>" />
                </div>
                <!-- Address -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>Address</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">
                    <% if(user.address){ %>
                      <p>
                        <%- user.address %>
                      </p>
                      <% }else { %>
                        <p>
                          -----
                        </p>
                        <% } %>
                      </div>
                        <input class="profile_edit_form" type="text" name="address" placeholder="new address  .."
                          value="<%- user.address %>" />
                </div>
                <!-- ABN Number -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>ABN Number</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">
                    <% if(user.abnnumber){ %>
                      <p>
                        <%- user.abnnumber %>
                      </p>
                      <% }else { %>
                        <p>
                          -----
                        </p>
                        <% } %>
                      </div>
                        <input class="profile_edit_form" type="text" name="abnnumber" placeholder="new abnnumber  .."
                          value="<%- user.abnnumber %>" />
                </div>
                <!-- Business -->
                <div class="data_divs">
                  <div class="data_keys">
                    <p>Business</p>
                    <p>:</p>
                  </div>
                  <div class="profile_All_data">
                    <% if(user.business){ %>
                      <p>
                        <%- user.business %>
                      </p>
                      <% }else { %>
                        <p>
                          -----
                        </p>
                        <% } %>
                      </div>
                        <input class="profile_edit_form" type="text" name="business" placeholder="new business .."
                          value="<%-user.business %>" />
                </div>
              </div>
              <!-- Edit Button -->
              <div class="profile_edit_box" onclick="editThePRofile()">
                <img width="22" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/edit--v1.png"
                  alt="edit--v1" />
              </div>
              <!-- Save Button -->
              <button type="submit">
                <div class="profile_save_box" onclick="saveThePRofile()">
                  <img width="22" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/save--v1.png"
                    alt="edit--v1" />
                </div>
              </button>
            </div>
          </form>
        </div>
        <!-- PAge Content ends -->
    </div>
</div>

<script>
  const formElement = document.getElementsByClassName("profile_edit_form");

  const editBtn = document.getElementsByClassName("profile_edit_box");

  const saveBtn = document.getElementsByClassName("profile_save_box");

  const profileData = document.getElementsByClassName("profile_All_data");

  const editThePRofile = () => {
    editBtn[0].style.display = "none";
    saveBtn[0].style.display = "block";
    for (var i = 0; i < formElement.length; i++) {
      // formElement[i].style.right = "25%";
      formElement[i].style.opacity = 1;
      profileData[i].style.opacity = 0;
    }
  };

  const saveThePRofile = () => {
    editBtn[0].style.display = "block";
    saveBtn[0].style.display = "none";
    for (var i = 0; i < formElement.length; i++) {
      // formElement[i].style.right = "40%";
      formElement[i].style.opacity = 0;
      profileData[i].style.opacity = 1;

    }
  };
</script>